'@Description Implements the {EDGE_VERTEX} '{LABEL}'
Public Function {LABEL}()
  Reporter.ReportEvent micFail, "{EDGE_VERTEX}: {LABEL}", "Function {LABEL} is not implemented yet!"
  {LABEL} = False
End Function
