# Eclipse stuff #
#################
.classpath
.project
.settings/

# Intellij stuff #
##################
*.iml
*.ipr
*.iws
.idea/

# Build and unit tests stuff #
#############################
logs/
target/
work/
amps-standalone/
*/dependency-reduced-pom.xml

# Mac stuff #
#############
.DS_Store

