
.icon-cog:before { content: '\e803'; } /* '' */
.icon-docs:before { content: '\e80a'; } /* '' */
.icon-doc-alt:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */